@model IEnumerable<Sellers.WMS.Domain.CurrencyType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
    <script language="javascript" type="text/javascript">
        var grid;
        $(function () {
            grid = $('#dg').datagrid({
                url: '@Url.Action("ALLList", "Currency")',
                idField: 'Id',
                iconCls: 'icon-view',
                height: 600,
                width: function () { return document.body.clientWidth * 0.9 },
                nowrap: true,
                singleSelect: true,
                animate: true,
                resizable: true,
                fitColumns: true,
                rownumbers: true,
                columns: [[
                    { title: '主键表', field: 'Id', width: 100, sortable: true, hidden: true },
                    { title: '货币', field: 'CurrencyName', width: 100, sortable: true, align: 'center' },
                    { title: '符号', field: 'CurrencySign', width: 100, sortable: true, align: 'center' },
                    { title: '值', field: 'CurrencyValue', width: 100, sortable: true, align: 'center' },
                    { title: '是否自动更新', field: 'IsAutoUpdate', width: 100, sortable: true, align: 'center' },
                    { title: '更新时间', field: 'UpdateOn', width: 100, sortable: true, align: 'center', formatter: getDate }
                ]],
                toolbar: '#toolbar',
                rowStyler: function (index, row, css) {

                },
                onLoadSuccess: function (data) {
                    if (data.rows.length > 0) {
                        $('#dg').datagrid("selectRow", 0);
                    }
                }
            })
        });

        function addClick() {
            parent.$.modalDialog({
                title: '添加数据',
                width: 650,
                height: 350,
                href: '@Url.Action("Create", "Currency")',
            buttons: [{
                text: '添加',
                handler: function () {
                    parent.$.modalDialog.penner_grid = grid;//将grid绑定到公共变量中
                    var f = parent.$.modalDialog.handler.find('#form');
                    f.submit();
                }
            }]
        });
    }

    //编辑框
    function editClick() {
        var id = getselectedRow(grid);
        if (id) {
            parent.$.modalDialog({
                title: '编辑数据',
                width: 650,
                height: 300,
                href: '@Url.Action("Edit", "Currency")/' + id,
                    buttons: [{
                        text: '修改',
                        handler: function () {
                            parent.$.modalDialog.penner_grid = grid;//将grid绑定到公共变量中
                            var f = parent.$.modalDialog.handler.find('#form');
                            f.submit();
                        }
                    }]
                });
            }
        }

    </script>
    <div region="center">

        <div id="toolbar">
            @Html.Raw(ViewData["toolbarButtons"])
        </div>
        <table id="dg">
        </table>
        <div id="dropdown" style="width: 200px; display: none;">
            <div data-options="iconCls:'icon-ext-xls'" data-bind="click: downloadClick1">Excel2003表格所有页</div>
            <div data-options="iconCls:'icon-ext-xls'" data-bind="click: downloadClick2">Excel2003表格指定页</div>
            <div data-options="iconCls:'icon-ext-rar'" data-bind="click: downloadClick3">Excel2003压缩zip</div>
            <div data-options="iconCls:'icon-page_excel'" data-bind="click: downloadClick4">Excel2007/2010</div>
            <div data-options="iconCls:'icon-ext-pdf'" data-bind="click: downloadClick5">PDF</div>
            <div data-options="iconCls:'icon-ext-doc'" data-bind="click: downloadClick6">Word</div>
        </div>
    </div>
</body>
