
@model IEnumerable<Sellers.WMS.Domain.ProductType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
        var grid;
        $(function () {
            grid = $('#dg').datagrid({
                url:  '@Url.Action("List", "Product")',
                idField: 'Id',
                iconCls: 'icon-view',
                height: 600,
                width: function () { return document.body.clientWidth * 0.9 },
                nowrap: true,  
				singleSelect:true, 
				animate: true,  
				resizable: true,  
                pagination: true,
				pageNumber: 1,
                pageSize: 100,
                pageList: [50, 100, 200],
                rownumbers: true,
                columns: [[
                    { title: '主键', field: 'Id', width: 100, sortable: true, hidden: true },
                    { title: '商品编号', field: 'SKU', width: 100, sortable: true,align: 'center' },
                    { title: '商品名称', field: 'Title', width: 100, sortable: true,align: 'center' },
                    { title: '商品状态', field: 'Status', width: 100, sortable: true,align: 'center' },
                    { title: '类别', field: 'Category', width: 100, sortable: true,align: 'center' },
                    { title: '型号', field: 'Model', width: 100, sortable: true,align: 'center' },
                    { title: '品牌', field: 'Brand', width: 100, sortable: true,align: 'center' },
                    { title: '规格', field: 'Standard', width: 100, sortable: true,align: 'center' },
                    { title: '商品价格', field: 'Price', width: 100, sortable: true,align: 'center' },
                    { title: '重量', field: 'Weight', width: 100, sortable: true,align: 'center' },
                    { title: '长', field: 'Long', width: 100, sortable: true,align: 'center' },
                    { title: '宽', field: 'Wide', width: 100, sortable: true,align: 'center' },
                    { title: '高', field: 'High', width: 100, sortable: true,align: 'center' },
                    { title: '库存天数', field: 'DayByStock', width: 100, sortable: true,align: 'center' },
                    { title: '简单描述', field: 'Summary', width: 100, sortable: true,align: 'center' },
                    { title: '包装注意事项', field: 'PackMemo', width: 100, sortable: true,align: 'center' },
                    { title: '是否侵权', field: 'IsInfraction', width: 100, sortable: true,align: 'center' },
                    { title: '大图片网址', field: 'PicUrl', width: 100, sortable: true,align: 'center' },
                    { title: '小图片网址', field: 'SPicUrl', width: 100, sortable: true,align: 'center' },
                    { title: '采购人', field: 'Purchaser', width: 100, sortable: true,align: 'center' },
                    { title: '验货人', field: 'Examiner', width: 100, sortable: true,align: 'center' },
                    { title: '包装人', field: 'Packer', width: 100, sortable: true,align: 'center' },
                    { title: '包装系数', field: 'PackCoefficient', width: 100, sortable: true,align: 'center' },
                    { title: '电子', field: 'IsElectronic', width: 100, sortable: true,align: 'center' },
                    { title: '电池', field: 'HasBattery', width: 100, sortable: true,align: 'center' },
                    { title: '库位', field: 'Location', width: 100, sortable: true,align: 'center' },
                    { title: '创建时间', field: 'CreateOn', width: 100, sortable: true,align: 'center' },
                    { title: '创建人', field: 'CreateBy', width: 100, sortable: true,align: 'center' }

                ]]
                ,
                toolbar: '#toolbar',
				rowStyler: function (index, row, css) {
					if (row.Id != "") {
						return 'font-weight:bold;';
					}
				},
				onLoadSuccess: function (data) {
					if (data.rows.length > 0) {
						$('#dg').datagrid("selectRow", 0);
					}
				}
            })
        });

        function addClick() {
            parent.$.modalDialog({
                title: '添加数据',
                width: 650,
                height: 350,
                href: '@Url.Action("Create", "Product")',
                buttons: [{
                    text: '添加',
                    handler: function () {
                        parent.$.modalDialog.penner_grid = grid;//将grid绑定到公共变量中
                        var f = parent.$.modalDialog.handler.find('#form');
                        f.submit();
                    }
                }]
            });
        }

        //编辑框
        function editClick() {
            var id = getselectedRow(grid);
            if (id) {
                parent.$.modalDialog({
                    title: '编辑数据',
                    width: 650,
                    height: 300,
                    href: '@Url.Action("Edit", "Product")/' + id,
                    buttons: [{
                        text: '修改',
                        handler: function () {
                            parent.$.modalDialog.penner_grid = grid;//将grid绑定到公共变量中
                            var f = parent.$.modalDialog.handler.find('#form');
                            f.submit();
                        }
                    }]
                });
            }
        }



        function doSearch() {
            search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
            grid.datagrid("load", {
                search: search
            });
        }

</script>
<div region="center">
		<fieldset>
            <legend>数据查询</legend>
            <table border="0">
                                 <tr>
                    <td><label>主键:</label><input type='text' id='Id' /></td>

                    <td><label>商品编号:</label><input type='text' id='SKU' /></td>

                    <td><label>商品名称:</label><input type='text' id='Title' /></td>

                    <td><label>商品状态:</label><input type='text' id='Status' /></td>

                </tr>
                <tr>
                    <td><label>类别:</label><input type='text' id='Category' /></td>

                    <td><label>型号:</label><input type='text' id='Model' /></td>

                    <td><label>品牌:</label><input type='text' id='Brand' /></td>

                    <td><label>规格:</label><input type='text' id='Standard' /></td>

                </tr>
                <tr>
                    <td><label>商品价格:</label><input type='text' id='Price' /></td>

                    <td><label>重量:</label><input type='text' id='Weight' /></td>

                    <td><label>长:</label><input type='text' id='Long' /></td>

                    <td><label>宽:</label><input type='text' id='Wide' /></td>

                </tr>
                <tr>
                    <td><label>高:</label><input type='text' id='High' /></td>

                    <td><label>库存天数:</label><input type='text' id='DayByStock' /></td>

                    <td><label>简单描述:</label><input type='text' id='Summary' /></td>

                    <td><label>包装注意事项:</label><input type='text' id='PackMemo' /></td>

                </tr>
                <tr>
                    <td><label>是否侵权:</label><input type='text' id='IsInfraction' /></td>

                    <td><label>大图片网址:</label><input type='text' id='PicUrl' /></td>

                    <td><label>小图片网址:</label><input type='text' id='SPicUrl' /></td>

                    <td><label>采购人:</label><input type='text' id='Purchaser' /></td>

                </tr>
                <tr>
                    <td><label>验货人:</label><input type='text' id='Examiner' /></td>

                    <td><label>包装人:</label><input type='text' id='Packer' /></td>

                    <td><label>包装系数:</label><input type='text' id='PackCoefficient' /></td>

                    <td><label>电子:</label><input type='text' id='IsElectronic' /></td>

                </tr>
                <tr>
                    <td><label>电池:</label><input type='text' id='HasBattery' /></td>

                    <td><label>库位:</label><input type='text' id='Location' /></td>

                    <td><label>创建时间:</label><input type='text' id='CreateOn' /></td>

                    <td><label>创建人:</label><input type='text' id='CreateBy' /><a href='#' class='easyui-linkbutton' iconcls='icon-search' onclick='doSearch();'>查询</a></td>
                        
                </tr>

            </table>
        </fieldset>
		<div id="toolbar">
			@Html.Raw(ViewData["toolbarButtons"])
        </div> 
        <table id="dg">
        </table>
		<div id="dropdown" style="width:200px; display:none;">  
			<div data-options="iconCls:'icon-ext-xls'"      data-bind="click:downloadClick1">Excel2003表格所有页</div>  
			<div data-options="iconCls:'icon-ext-xls'"      data-bind="click:downloadClick2">Excel2003表格指定页</div> 
			<div data-options="iconCls:'icon-ext-rar'"      data-bind="click:downloadClick3">Excel2003压缩zip</div>  
			<div data-options="iconCls:'icon-page_excel'"   data-bind="click:downloadClick4">Excel2007/2010</div>  
			<div data-options="iconCls:'icon-ext-pdf'"      data-bind="click:downloadClick5">PDF</div>  
			<div data-options="iconCls:'icon-ext-doc'"      data-bind="click:downloadClick6">Word</div>   
		</div>
</div>
</body>
