@model Sellers.WMS.Domain.UserLogType
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        //这里写加载下拉列表、修改编辑控件的初始化值
		//parent.$.messager.progress('close');

        $('#form').form({
            url: '@Url.Action("Edit", "UserLog")',
            onSubmit: function () {
                parent.$.messager.progress({
                    title: '提示',
                    text: '数据处理中，请稍后....'
                });
                var isValid = $(this).form('validate');
                if (!isValid) {
                    parent.$.messager.progress('close');
                }
                return isValid;
            },
            success: function (result) {
                parent.$.messager.progress('close');
                result = $.parseJSON(result);
                if (result.IsSuccess) {
                    //parent.$.modalDialog.openner_treeGrid.treegrid('reload');//之所以能在这里调用到parent.$.modalDialog.openner_treeGrid这个对象，是因为resource.jsp页面预定义好了
                    //parent.layout_west_tree.tree('reload');
                    parent.$.modalDialog.penner_grid.datagrid('reload');
                    parent.$.modalDialog.handler.dialog('close');
                }
                else {
                    alert(result.Result);
                }
            }
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "form" }))
        {
            <table class="grid">
                <tr>
                    <td align="right">主键：</td>
                    <td align="left"><input  type='text' name='Id' id='Id' value='@Model.Id' ></input></td>
                    <td align="right">用户代码：</td>
                    <td align="left"><input  type='text' name='UId' id='UId' value='@Model.UId' ></input></td>
                    <td align="right">操作详情：</td>
                    <td align="left"><input  type='text' name='Memo' id='Memo' value='@Model.Memo' ></input></td>
                </tr>

			</table>
        }
    </div>
</div>
