@model Sellers.WMS.Domain.OrderType
@{
    
}
<script type="text/javascript">

    var editgrid;
    $(function () {
        //parent.$.messager.progress('close');
        editgrid = editGridViewModel($('#dgProducts'), "/OrderProduct/Save/", "/OrderProduct/Delete/");
        grid = $('#dgProducts').datagrid({
            idField: 'Id',
            singleSelect: true,
            animate: true,
            fitColumns: true,
            toolbar: [{
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        editgrid.addnew({ Qty: 1, Price: 0 });
                    }
                }, '-', {
                    id: 'btnEdit',
                    text: '保存',
                    iconCls: 'icon-edit',
                    handler: function () {
                        editgrid.accept();
                    }
                }, '-', {
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {
                        editgrid.deleterow();
                    }
                }],
            onDblClickRow: function (rowIndex) { editgrid.begin(rowIndex); },
            onClickRow: function (rowIndex) { editgrid.ended(); }
        });
      
        $('#c_form').form({
            url: '@Url.Action("Create", "Order")',
            onSubmit: function () {
                parent.$.messager.progress({
                    title: '提示',
                    text: '数据处理中，请稍后....'
                });
                var isValid = $(this).form('validate');
                if (!isValid) {
                    parent.$.messager.progress('close');
                }
                return isValid;
            },
            success: function (result) {
                parent.$.messager.progress('close');
                result = $.parseJSON(result);
                if (result.IsSuccess) {

                    parent.$.modalDialog.penner_grid.datagrid('reload');
                    parent.$.modalDialog.handler.dialog('close');
                }
                else {
                    alert(result.Result);
                }
            }
        });
    });

</script>
<body class="easyui-layout">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
                <div class="z-toolbar">
            <a href="#" plain="true" class="easyui-linkbutton" icon="icon-save" title="保存" onclick="saveClick()">保存</a>
            <a href="#" plain="true" class="easyui-linkbutton" icon="icon-undo" title="撤消" data-bind="click: rejectClick">撤消</a>
        </div>
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "c_form" }))
        {
            <fieldset>
                <legend>基本信息</legend>
                <table class="grid">
                    <tr>
                    
                        <td class="z-lable">订单编号：</td>
                        <td align="left"><input type='text' name='OrderNo' id='OrderNo' class="z-txt"></input></td>
                        <td class="z-lable">外部编号：</td>
                        <td align="left"><input type='text' name='OrderExNo' id='OrderExNo'  class="z-txt"></input></td>
                        <td class="z-lable">流水交易号：</td>
                        <td align="left"><input type='text' name='TId' id='TId'  class="z-txt"></input></td>
                    </tr>
              
                    <tr>
                        <td  class="z-lable">账户：</td>
                        <td align="left"><input type='text' name='Account' id='Account'  class="z-txt"></input></td>
                        <td  class="z-lable">平台：</td>
                        <td align="left"><input type='text' name='Platform' id='Platform'  class="z-txt"></input></td>
                        <td  class="z-lable">金额：</td>
                        <td align="left"><input type='text' name='CurrencyCode' id='CurrencyCode'></input><input type='text' name='Amount' id='Amount'></input></td>

                    </tr>
                    <tr>
                        <td  class="z-lable">买家：</td>
                        <td align="left"><input type='text' name='BuyerName' id='BuyerName'  class="z-txt" ></input></td>
                        <td  class="z-lable">买家邮箱：</td>
                        <td align="left"><input type='text' name='BuyerEmail' id='BuyerEmail'  class="z-txt" ></input></td>
                        <td  class="z-lable">发货方式：</td>
                        <td align="left"><input type='text' name='LogisticMode' id='LogisticMode'  class="z-txt"></input></td>
                    </tr>
                    <tr>
                        <td  class="z-lable">买家留言：</td>
                        <td align="left" colspan="5"><textarea  name='BuyerMemo' id='BuyerMemo' ></textarea></td>
                    </tr>
                    <tr>
                        <td  class="z-lable">商家留言：</td>
                        <td align="left" colspan="5"><textarea name='SellerMemo' id='SellerMemo' ></textarea></td>
                    </tr>
                </table>
            </fieldset>
            <div id="tt" class="easyui-tabs" style="height: 250px;">
                <div title="产品信息" style="padding: 20px;">
          <table id="dgProducts"  rownumbers="true" singleselect="true">
            <thead>
                <tr>
                    <th field="ExSKU" width="80" data-options="editor:'text'">ExSKU
                    </th>
                    <th field="Title" width="100" data-options="editor:'text'">名称
                    </th>
                    <th field="SKU" width="80" data-options="
                        editor:{
							type:'combogrid',
							options:{
								panelWidth: 410,
                                mode: 'remote',
                                idField: 'SKU',
                                textField: 'SKU',
                                url: '/Product/GetListBySKU',
                                fit: true,
                                required:true,
                                columns: [[
                                    { field: 'SKU', title: 'SKU', width: 100 },
                                    { field: 'Title', title: 'Title', width: 200 },
                                    { field: 'Standard', title: '规格', width: 100 }
                                ]]
							}
						}
                        ">SKU
                    </th>
                    <th field="Qty" width="80" data-options="editor:{ type: 'numberbox'}">数量
                    </th>
                    <th field="Standard" width="80" data-options="editor:'text'">规格
                    </th>
                    <th field="Remark" width="100" data-options="editor:'text'">描述
                    </th>
                    <th field="Price" width="80" data-options="editor:{ type: 'numberbox', options: { precision: 5 }}">价格
                    </th>
                    <th field="ImgUrl" width="100" data-options="editor:'text'">网址
                    </th>
                     
                </tr>
            </thead>
        </table>

                </div>
                <div title="发货地址" style="padding: 20px;">
                    <table class="grid">
                        <tr>
                            <td align="right" class="z-lable">收件人：</td>
                            <td align="left"><input type='text' name='Addressee' id='Addressee' class="z-txt"></input></td>
                            <td align="right" class="z-lable">电话：</td>
                            <td align="left"><input type='text' name='Tel' id='Tel' class="z-txt"></input></td> 
                            <td align="right" class="z-lable">手机：</td>
                            <td align="left"><input type='text' name='Phone' id='Phone' class="z-txt"></input></td>
                        </tr>
                        <tr>
                            <td align="right">街道：</td>
                            <td align="left" colspan="5"><input type='text' name='Street' id='Street' class="z-txt"></input></td>
                        </tr>
                        <tr>
                            <td align="right"  class="z-lable">县：</td>
                            <td align="left"><input type='text' name='County' id='County' class="z-txt"></input></td>
                            <td align="right"   class="z-lable" >市：</td>
                            <td align="left"><input type='text' name='City' id='City' class="z-txt"></input></td> 
                            <td align="right"   class="z-lable" >省：</td>
                            <td align="left"><input type='text' name='Province' id='Province' class="z-txt"></input></td>
                        </tr>
                        <tr>
                           <td align="right"   class="z-lable">email：</td>
                            <td align="left"><input type='text' name='Emial' id='Emial' class="z-txt"></input></td>
                            <td align="right"   class="z-lable">邮编：</td>
                            <td align="left"><input type='text' name='PostCode' id='PostCode' class="z-txt"></input></td>
                            <td align="right"   class="z-lable">国家：</td>
                            <td align="left"><input type='text' name='Country' id='Country' class="z-txt"></input></td>
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>

</body>