@model Sellers.WMS.Domain.UserType
@{
    Layout = null;
}

<script type="text/javascript">

    $(function () {
        //初始化控件
        $('#Birthday').datebox();
        comboboxInit('@Url.Action("List", "Role")', 'page=1&rows=100', 'RoleId', 'Id', 'Realname');
        $('#CId').combotree({
            url: '/Organize/ALLTreeList/',
            required: true,
            width: 150,
            panelHeight: 'auto',
            onChange: function (n, o) {
                selectDepartment(n);
            }
        });

        $('#Gender').combobox({
            valueField: 0,
            textField: 1,
            panelHeight: 'auto',
            data: checkSex,
        });

        $('#DId').combotree();

        $('#form').form({
            url: '@Url.Action("Create", "User")',
            onSubmit: function () {
                parent.$.messager.progress({
                    title: '提示',
                    text: '数据处理中，请稍后....'
                });
                var isValid = $(this).form('validate');
                if (!isValid) {
                    parent.$.messager.progress('close');
                }
                return isValid;
            },
            success: function (result) {
                parent.$.messager.progress('close');
                result = $.parseJSON(result);
                if (result.IsSuccess) {
                    parent.$.modalDialog.penner_grid.datagrid('reload');
                    parent.$.modalDialog.handler.dialog('close');

                }
                else {
                    alert(result.Result);
                }
            }
        });
    });

    function selectDepartment(n) {
        $('#DId').combotree({
            url: '/Organize/DepartmentList/' + n,
            required: true,
            panelHeight: 'auto',
            width: 150
        });
    }
    
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "form" }))
        {
            <table class="grid">
                <tr>

                    <td align="right">编号：</td>
                    <td align="left">
                        <input type='text' name='Code' id='Code'></input></td>
                    <td align="right">登录名：</td>
                    <td align="left">
                        <input type='text' name='Username' id='Username'></input></td>
                </tr>
                <tr>
                    <td align="right">姓名：</td>
                    <td align="left">
                        <input type='text' name='Realname' id='Realname'></input></td>
                    <td align="right">用户密码：</td>
                    <td align="left">
                        <input type='text' name='Password' id='Password'></input></td>
                </tr>
                <tr>
                    <td align="right">职位：</td>
                    <td align="left" colspan="3">
                        <input type='text' name='RoleId' id='RoleId'></input></td>

                </tr>

                <tr>
                    <td align="right">公司：</td>
                    <td align="left">
                        <input type='text' name='CId' id='CId'></input></td>
                    <td align="right">部门：</td>
                    <td align="left">
                        <input type='text' name='DId' id='DId'></input></td>
                </tr>

                <tr>
                    <td align="right">性别：</td>
                    <td align="left">
                        <input type='text' name='Gender' id='Gender'></input></td>
                    <td align="right">电话：</td>
                    <td align="left">
                        <input type='text' name='Telephone' id='Telephone'></input></td>
                </tr>
                <tr>
                    <td align="right">手机：</td>
                    <td align="left">
                        <input type='text' name='Mobile' id='Mobile'></input></td>
                    <td align="right">出生日期：</td>
                    <td align="left">
                        <input type='text' name='Birthday' id='Birthday'></input></td>
                </tr>
                <tr>
                    <td align="right">电子邮件：</td>
                    <td align="left" colspan="3">
                        <input type='text' name='Email' id='Email' class="z-txt"></input></td>
                </tr>
                <tr>
                    <td align="right">家庭住址：</td>
                    <td align="left" colspan="3">
                        <input type='text' name='HomeAddress' id='HomeAddress' class="z-txt"></input></td>
                </tr>
                <tr>
                    <td align="right">备注：</td>
                    <td align="left" colspan="3">
                        <input type='text' name='Description' id='Description' class="z-txt"></input></td>
                </tr>

            </table>
        }
    </div>
</div>
