@{
    Layout = null;
}
<script>
    $(function() {
        $('#dgUser').datagrid({});
        
        $('#dgUser').datagrid({});
    });
</script>

<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
        <div class="tip-info">
            <div class="tip-tip icon-tip"></div>
            <div>The DataGrid is created from markup, no JavaScript code needed.</div>
        </div>
        <div style="float:left">
            <div>
                <table id="dgUser"></table>
            </div>
            <div>
               <ul id="trModule" ></ul>
            </div>
        </div>
       
    </div>
</div>
