@model Sellers.WMS.Domain.AccountType

@{
    Layout = null;
}

<script type="text/javascript">
    var v = 1;
    $(function () {
        $('#Platform').combobox({
            url: '@Url.Action("GetOptions", "DataDictionaryDetail")/SalePlatform',
            valueField: 'DicValue',
            textField: 'FullName',
            panelHeight: 'auto'
        });

        $('#form').form({
            url: '@Url.Action("Create", "Account")',
            onSubmit: function () {
                parent.$.messager.progress({
                    title: '提示',
                    text: '数据处理中，请稍后....'
                });
                var isValid = $(this).form('validate');
                if (!isValid) {
                    parent.$.messager.progress('close');
                }
                return isValid;
            },
            success: function (result) {
                parent.$.messager.progress('close');
                result = $.parseJSON(result);
                if (result.IsSuccess) {
                    parent.$.modalDialog.penner_grid.datagrid('reload');
                    parent.$.modalDialog.handler.dialog('close');
                }
                else {
                    alert(result.Result);
                }
            }
        });
    });

    function gotoAuth() {
        $.ajax({
            url: '/Account/GetAuthUrl',
            type: 'post',
            data: 'type=' + v,
            success: function (res) {
                window.open(res.Result);
            }
        });
    }

</script>

<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:false" title="" style="overflow: hidden;">
        @using (Html.BeginForm("", "", FormMethod.Post, new { id = "form" }))
        {
            <table class="grid">
                <tr>
                    <td align="right">账户名称：</td>
                    <td align="left"  colspan="3">
                        <input type='text' name='AccountName' id='AccountName'></input></td>
                </tr>
                <tr>

                    <td align="right">平台：</td>
                    <td align="left">
                        <input type='text' name='Platform' id='Platform'></input></td>
                     <td align="right">Token：</td>
                    <td align="left">
                        <input type='text' name='ApiToken' id='ApiToken'></input><br />
                        <input type="button" value="去授权" onclick="gotoAuth()" />
                    </td>
                </tr>
                @*      <tr>
                    <td align="right">APIKey：</td>
                    <td align="left">
                        <input type='text' name='ApiKey' id='ApiKey'></input></td>
                    <td align="right">API密钥：</td>
                    <td align="left">
                        <input type='text' name='ApiSecret' id='ApiSecret'></input></td>
                    <td align="right">API会话：</td>
                </tr>*@
                <tr>
                    <td align="right">平台网址：</td>
                    <td align="left">
                        <input type='text' name='AccountUrl' id='AccountUrl'></input></td>
                    <td align="right">负责人：</td>
                    <td align="left">
                        <input type='text' name='Manager' id='Manager'></input></td>
                </tr>
                <tr>
                    <td align="right">描述：</td>
                    <td align="left" colspan="3">
                        <input type='text' name='Description' id='Description'></input></td>

                </tr>

            </table>
        }
    </div>
</div>
