
@model IEnumerable<Sellers.WMS.Domain.ProductImgType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
        var grid;
        $(function () {
            grid = $('#dg').datagrid({
                url:  '@Url.Action("List", "ProductImg")',
                idField: 'Id',
                iconCls: 'icon-view',
                height: 600,
                width: function () { return document.body.clientWidth * 0.9 },
                nowrap: true,  
				singleSelect:true, 
				animate: true,  
				resizable: true,  
                pagination: true,
				pageNumber: 1,
                pageSize: 100,
                pageList: [50, 100, 200],
                rownumbers: true,
                columns: [[
                    { title: '主键', field: 'Id', width: 100, sortable: true, hidden: true },
                    { title: 'SKU', field: 'SKU', width: 100, sortable: true,align: 'center' },
                    { title: '主SKU', field: 'MainSKU', width: 100, sortable: true,align: 'center' },
                    { title: '图片名称', field: 'ImgName', width: 100, sortable: true,align: 'center' },
                    { title: '路径', field: 'Src', width: 100, sortable: true,align: 'center' },
                    { title: '文件保存', field: 'Img', width: 100, sortable: true,align: 'center' }

                ]]
                ,
                toolbar: '#toolbar',
				rowStyler: function (index, row, css) {
					if (row.Id != "") {
						return 'font-weight:bold;';
					}
				},
				onLoadSuccess: function (data) {
					if (data.rows.length > 0) {
						$('#dg').datagrid("selectRow", 0);
					}
				}
            })
        });

        function addClick() {
            parent.$.modalDialog({
                title: '添加数据',
                width: 650,
                height: 350,
                href: '@Url.Action("Create", "ProductImg")',
                buttons: [{
                    text: '添加',
                    handler: function () {
                        parent.$.modalDialog.penner_grid = grid;//将grid绑定到公共变量中
                        var f = parent.$.modalDialog.handler.find('#form');
                        f.submit();
                    }
                }]
            });
        }

        //编辑框
        function editClick() {
            var id = getselectedRow(grid);
            if (id) {
                parent.$.modalDialog({
                    title: '编辑数据',
                    width: 650,
                    height: 300,
                    href: '@Url.Action("Edit", "ProductImg")/' + id,
                    buttons: [{
                        text: '修改',
                        handler: function () {
                            parent.$.modalDialog.penner_grid = grid;//将grid绑定到公共变量中
                            var f = parent.$.modalDialog.handler.find('#form');
                            f.submit();
                        }
                    }]
                });
            }
        }

        function doSearch() {
            var search = "";
            if ($('#txtId').val().length != 0)
                search += 'Id&' + $('#txtId').val() + '^';
            if ($('#txtSKU').val().length != 0)
                search += 'SKU&' + $('#txtSKU').val() + '^';
            if ($('#txtMainSKU').val().length != 0)
                search += 'MainSKU&' + $('#txtMainSKU').val() + '^';
            if ($('#txtImgName').val().length != 0)
                search += 'ImgName&' + $('#txtImgName').val() + '^';
            if ($('#txtSrc').val().length != 0)
                search += 'Src&' + $('#txtSrc').val() + '^';
            if ($('#txtImg').val().length != 0)
                search += 'Img&' + $('#txtImg').val() + '^';

            grid.datagrid("load", {
                search: search
            });
        }
</script>
<div region="center">
		<fieldset>
            <legend>数据查询</legend>
            <table border="0">
                                 <tr>
                    <td><label>主键:</label><input type='text' id='txtId' /></td>

                    <td><label>SKU:</label><input type='text' id='txtSKU' /></td>

                    <td><label>主SKU:</label><input type='text' id='txtMainSKU' /></td>

                    <td><label>图片名称:</label><input type='text' id='txtImgName' /></td>

                </tr>
                <tr>
                    <td><label>路径:</label><input type='text' id='txtSrc' /></td>

                    <td><label>文件保存:</label><input type='text' id='txtImg' /><a href='#' class='easyui-linkbutton' iconcls='icon-search' onclick='doSearch();'>查询</a></td>
                        
                </tr>

            </table>
        </fieldset>
		<div id="toolbar">
			@Html.Raw(ViewData["toolbarButtons"])
        </div> 
        <table id="dg">
        </table>
		<div id="dropdown" style="width:200px; display:none;">  
			<div data-options="iconCls:'icon-ext-xls'"      data-bind="click:downloadClick1">Excel2003表格所有页</div>  
			<div data-options="iconCls:'icon-ext-xls'"      data-bind="click:downloadClick2">Excel2003表格指定页</div> 
			<div data-options="iconCls:'icon-ext-rar'"      data-bind="click:downloadClick3">Excel2003压缩zip</div>  
			<div data-options="iconCls:'icon-page_excel'"   data-bind="click:downloadClick4">Excel2007/2010</div>  
			<div data-options="iconCls:'icon-ext-pdf'"      data-bind="click:downloadClick5">PDF</div>  
			<div data-options="iconCls:'icon-ext-doc'"      data-bind="click:downloadClick6">Word</div>   
		</div>
</div>
</body>
