@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAliexpressAuthCode</title>
</head>
<body>
    <div>
        <h1>@ViewData["code"]</h1>
        <h1>请复制本代码到账户添加的Token文本框。</h1>
    </div>
</body>
</html>
