
@model IEnumerable<Sellers.WMS.Domain.DataDictionaryType>
@{
    ViewBag.Title = "Index";
}
<body class="easyui-layout">
<script language="javascript" type="text/javascript">
    var grid;
    $(function () {
        grid = $('#dg').datagrid({
            url: '@Url.Action("List", "DataDictionary")',
            idField: 'Id',
            iconCls: 'icon-view',
            height: 600,
            width: 400,
            nowrap: true,
            singleSelect: true,
            animate: true,
            resizable: true,
            pagination: true,
            pageNumber: 1,
            pageSize: 100,
            pageList: [50, 100, 200],
            rownumbers: true,
            columns: [[
                { title: '主键', field: 'Id', width: 100, sortable: true, hidden: true },
                { title: '分类', field: 'ClassName', width: 100, sortable: true, align: 'center' },
                { title: '代码', field: 'Code', width: 100, sortable: true, align: 'center' },
                { title: '系统内置', field: 'AllowDelete', width: 100, sortable: true, align: 'center' }

            ]]
                ,
            toolbar: '#toolbar',
            onLoadSuccess: function (data) {
                if (data.rows.length > 0) {
                    $('#dg').datagrid("selectRow", 0);
                }
            }
        })
        grid = $('#dg2').datagrid({
            url: '@Url.Action("List", "DataDictionary")',
            idField: 'Id',
            iconCls: 'icon-view',
            height: 600,
            width: 400,
            nowrap: true,
            singleSelect: true,
            animate: true,
            resizable: true,
            rownumbers: true,
            columns: [[
                { title: '主键', field: 'Id', width: 100, sortable: true, hidden: true },
                { title: '分类', field: 'ClassName', width: 100, sortable: true, align: 'center' },
                { title: '代码', field: 'Code', width: 100, sortable: true, align: 'center' },
                { title: '系统内置', field: 'AllowDelete', width: 100, sortable: true, align: 'center' }
            ]],
            onLoadSuccess: function (data) {
                if (data.rows.length > 0) {
                    $('#dg').datagrid("selectRow", 0);
                }
            }
        });
    });







    function doSearch() {
        search = $('#txtSearch').searchbox("getName") + "&" + $('#txtSearch').searchbox("getValue") + "^";
        grid.datagrid("load", {
            search: search
        });
    }

</script>
<div region="center">
		<fieldset>
            <legend>数据查询</legend>
            <table border="0">
                                 <tr>
                    <td><label>主键:</label><input type='text' id='Id' /></td>

                    <td><label>分类:</label><input type='text' id='ClassName' /></td>

                    <td><label>代码:</label><input type='text' id='Code' /></td>

                    <td><label>系统内置:</label><input type='text' id='AllowDelete' /><a href='#' class='easyui-linkbutton' iconcls='icon-search' onclick='doSearch();'>查询</a></td>
                        
                </tr>

            </table>
        </fieldset>
		<div id="toolbar">
			@Html.Raw(ViewData["toolbarButtons"])
        </div> 
    <table border="0">
    <tr><td> <table id="dg">
    </table></td>
        <td><fieldset>
        <legend>字典明细</legend>
            <table id="dg2">
            </table>
        </fieldset></td>
    </tr>
   
    
		<div id="dropdown" style="width:200px; display:none;">  
			<div data-options="iconCls:'icon-ext-xls'"      data-bind="click: downloadClick1">Excel2003表格所有页</div>  
			<div data-options="iconCls:'icon-ext-xls'"      data-bind="click: downloadClick2">Excel2003表格指定页</div> 
			<div data-options="iconCls:'icon-ext-rar'"      data-bind="click: downloadClick3">Excel2003压缩zip</div>  
			<div data-options="iconCls:'icon-page_excel'"   data-bind="click: downloadClick4">Excel2007/2010</div>  
			<div data-options="iconCls:'icon-ext-pdf'"      data-bind="click: downloadClick5">PDF</div>  
			<div data-options="iconCls:'icon-ext-doc'"      data-bind="click: downloadClick6">Word</div>   
		</div>
</div>
</body>
